.carroussel{
    transform: scale(0);
    position: absolute;
    width: 50%;
    height: 50%;
    border: 2px solid red;
    top: 25%;
    left: 25%;
    z-index:10;
}

.carroussel__x{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}

.btn__ouvrir{
    width: 200px;
}

.carroussel--ouvrir{
    transform: scale(100%);
}

.carroussel__figure{
    position: absolute;
}

.carroussel__img{
    width: 100%;
    height: auto;
}