.carroussel{
    transform: scale(0);
    position: fixed;
    transition: transform, .25s;
    width: 100%;
    height: 100%;
    border: 2px solid red;
    top: 0;
    left: 0;
    z-index:10;

    @media screen and (min-width: 400px) {
        width: 75%;
        height: 75%;
        top: 12.5%;
        left: 12.5%;
    }
}

.carroussel__x{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}

.btn__ouvrir{
    width: 200px;
}

.carroussel--ouvrir{
    transform: scale(100%);
}

.carroussel__figure{
    position: absolute;
    width: 100%;
    height: 100%;
}

.carroussel__img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}